<div class='profile-wrap'>
	<div class='info' *ngIf="profile">
		<h3 class="title">
			<app-player-name [player]='profile'></app-player-name>
		</h3>
		<p class="join_date">Active since: {{ profile.join_date | date: 'dd-MM-yyyy' }}</p>
		<table>
			<tr>
				<td>Kills</td>
				<td>{{ profile.stats.kills }}</td>
			</tr>
			<tr>
				<td>Deaths</td>
				<td>{{ profile.stats.deaths }}</td>
			</tr>
			<tr>
				<td>KD Ratio</td>
				<td>{{ profile.stats.kills / profile.stats.deaths || 0}}</td>
			</tr>
			<tr>
				<td>Wins</td>
				<td>{{ profile.stats.wins }}</td>
			</tr>
			<tr>
				<td>Losses</td>
				<td>{{ profile.stats.losses }}</td>
			</tr>
			<tr>
				<td>Win Ratio</td>
				<td>{{ profile.stats.wins / profile.stats.losses || 0}}</td>
			</tr>
		</table>
	</div>
</div>
