.profile-wrap {

	.avatar {
		margin-top: 1.5em;

		.img {
			background: lightgrey;
			width: 40%;
			padding-top: 40%;
			margin: 0 auto 0 auto;
		}
	}

	.info {
		h2.title {
			text-align: center;
			margin-bottom: 0.1em;
		}

		p {
			text-align: center;
			margin-top: 0em;
		}

		table {
			margin-top: 2em;
		}


	}
}

