<div class='profile-wrap'>
	<div class='info' *ngIf="profile">
		<h2 class="title" [style.color]="profile.group_colour">{{ profile.group_emoji }} {{ profile.first_name }} {{ profile.last_name }}</h2>
		<p>Member since: {{ profile.join_date}}</p>
		<table>
			<tr>
				<td>Kills</td>
				<td>{{ profile.kills }}</td>
			</tr>
			<tr>
				<td>Deaths</td>
				<td>{{ profile.deaths }}</td>
			</tr>
			<tr>
				<td>KD Ratio</td>
				<td>{{ profile.kills / profile.deaths || 0}}</td>
			</tr>
			<tr>
				<td>Wins</td>
				<td>{{ profile.wins }}</td>
			</tr>
			<tr>
				<td>Losses</td>
				<td>{{ profile.losses }}</td>
			</tr>
			<tr>
				<td>Win Ratio</td>
				<td>{{ profile.wins / profile.losses || 0}}</td>
			</tr>
		</table>
	</div>
</div>
