<div class="info">
	<h1 class="title">{{ game.name }}</h1>
	<p class="gamemaster-name">Created by
		<app-player-name [player]=game.owner></app-player-name>
	</p>
</div>

<!-- Player list -->
<div class="playerlist">
	<h3>Players ({{ game.players.length }})</h3>
	<table>
		<tr *ngFor='let player of game.players'>
			<td><app-player-name [player]='player'></app-player-name></td>
			<td class="player-status">
				<span [class.ready]='player.ready'>
					{{ player.ready ? 'Ready' : 'Not Ready'}}
				</span>
			</td>
		</tr>
	</table>
</div>

<div class="options">
	<div *ngIf="localPlayerJoined; then joinedBlock else anonBlock"></div>

	<!-- Player is a member of the lobby -->
	<ng-template #joinedBlock>
		<button (click)='setJoined(false)'>Leave Lobby</button>
		<button *ngIf="localPlayerReady" (click)="setReady(false)">Unready</button>
		<button *ngIf="!localPlayerReady" (click)="setReady()">Ready up</button>
	</ng-template>

	<!-- Not currently participating -->
	<ng-template #anonBlock>
		<button *ngIf='!localPlayerJoined' (click)='setJoined()'>Join Lobby</button>
	</ng-template>
</div>

<div *ngIf='localPlayerIsGM'>
	<h3>Gamemaster Options</h3>
	<button (click)='startLobby()'>Start lobby</button>
</div>

<div class="admin" *ngIf="user.hasPermission('closeLobby')">
	<h3>Administration</h3>
	<button (click)='adminCloseLobby()'>Close Lobby</button>
</div>
