<div *ngIf="lobby">
	<div class="info">
		<h1 class="title">Lobby: {{ lobby.name }}</h1>
		<p class="gamemaster-name">Gamemaster: {{ lobby.owner.name }}</p>
	</div>
	<div class="playerlist">
		<h3>Players ({{ lobby.players.length }})</h3>
			<table>
				<tr *ngFor='let player of lobby.players'>
					<td><app-player-name [player]='player'></app-player-name></td>
					<td class="player-status">
						<span [class.ready]='playerIsReady(player)'>
							{{ playerIsReady(player) ? 'Ready' : 'Not Ready'}}
						</span>
					</td>
				</tr>
			</table>
	</div>
	<div class="options">
		<div *ngIf="joined; then joinedBlock else anonBlock"></div>
		<ng-template #joinedBlock>
			<!-- Part of lobby, allow leave/ready/unready -->
			<button (click)='leaveLobby()'>Leave Lobby</button>
			<button *ngIf="localPlayerReady" (click)="setReady(false)">Unready</button>
			<button *ngIf="!localPlayerReady" (click)="setReady(true)">Ready up</button>
		</ng-template>
		<ng-template #anonBlock>
			<!-- Not participating in lobby -->
			<button *ngIf='!joined' (click)='joinLobby()'>Join Lobby</button>
		</ng-template>
		<div *ngIf='localPlayerIsGM'>
			<h3>Gamemaster Options</h3>
			<button (click)='startLobby()'>Start lobby</button>
		</div>
	</div>
	<div class="admin" *ngIf="userService.hasPermission('closeLobby')">
		<!-- Admin only section -->
		<h3>Admin</h3>
		<button (click)='adminCloseLobby()'>Close Lobby</button>
	</div>
</div>

