@import '~src/styles.scss';

.navbar-container {
	background: $color-ttt-darkest;
	font-family: $font-ttt-special;

	.top p {
		text-align: center;
		margin: 0;
		padding: 0.6em 0 0.4em;

		font-size: 1.3em;
		color: white;
	}

	.bottom ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			display: inline-block;
			padding: 0.8em 1em;


			a {
				text-decoration: none;
				color: grey;

				&.active {
					color: $color-ttt-yellow;
				}
			}

		}
	}
}

