<div class="navbar">
	<a href="#" routerLink="/" class="title">TTT</a>
	<div *ngIf='userService.loginState === 2; then allOptions else minimalOptions'></div>
	<ng-template #allOptions>
		<ul>
			<li>
				<a href="#" routerLink="/game">History</a>
			</li>
			<li>
				<a href="#" routerLink="/user">Players</a>
			</li>
			<li>
				<a href="#" routerLink="/logout">Logout</a>
			</li>
		</ul>
	</ng-template>
	<ng-template #minimalOptions>
		<div *ngIf='userService.loginState === 1; then logoutOnly else loginOnly'></div>
		<ng-template #loginOnly>
			<ul>
				<li>
					<a href="#" routerLink="/login">Login</a>
				</li>
			</ul>
		</ng-template>
		<ng-template #logoutOnly>
			<ul>
				<li>
					<a href="#" routerLink="/logout">Logout</a>
				</li>
			</ul>
		</ng-template>
	</ng-template>
</div>
