<h1>Reset Password</h1>
<form id="resetpasswordform">
	<div class="form-group">
		<label for="current-password">Current Password</label>
		<br/>
		<input type="password" class="form-input" [(ngModel)]="currentPassword" name="currentPassword">
		<p class="error" *ngIf="currentPasswordError != 'valid'">{{ currentPasswordError }}</p>
	</div>

	<div class="form-group">
		<label for="new-password">New Password</label>
		<br/>
		<input type="password" class="form-input" [(ngModel)]="newPassword" name="newPassword">
		<p class="error" *ngIf="newPasswordError != 'valid'">{{ newPasswordError }}</p>
	</div>

	<div class="form-group">
		<label for="confirm-password">Confirm Password</label>
		<br/>
		<input type="password" class="form-input" [(ngModel)]="confirmPassword" name="confirmPassword">
		<p class="error" *ngIf="confirmPasswordError != 'valid'">{{ confirmPasswordError }}</p>
	</div>

	<button (click)="submitChangePassword()" class="form-submit">Change Password</button>
</form>

