<div *ngIf="display">
	<div class="container">
		<h3 class="role">Your role is <span [class]="localPlayer.role">{{ localPlayer.role }}</span></h3>
	</div>

	<div class="container">
		<p *ngFor='let player of associates'>
		 <app-player-name-game [player]='player'></app-player-name-game>
		</p>
	</div>

	<div class="container">
		<p *ngFor='let cond of winConditions[localPlayer.role]'>{{ cond }}</p>
	</div>

	<div class="container timer">
		<h3>
			Starting in
			<app-second-countdown [seconds]='game.timer'></app-second-countdown>
			seconds...
		</h3>
	</div>
</div>
