@import '~src/styles.scss';

.container {
	margin-bottom: 3em;
}

.role {
	text-align: center;
	margin-bottom: 4em;

	span {
		text-decoration: underline;

		&.TRAITOR {
			text-decoration-color: $color-ttt-traitor;
		}

		&.DETECTIVE {
			text-decoration-color: $color-ttt-detective;
		}

		&.INNOCENT {
			text-decoration-color: $color-ttt-innocent;
		}
	}
}

.timer {
	text-align: center;
	margin-top: 10em;
}
