<div *ngIf="display">
	<div class="container">
		<h3>{{ localPlayer.role }}</h3>
	</div>
	<div class="container" *ngIf='associates.length > 0'>
		<h3>Confirmed Roles</h3>
		<p *ngFor='let player of associates'>
		 {{ player.role }} - 
		 <app-player-name [player]='player'></app-player-name>
		</p>
	</div>
	<div class="container">
		<h3>Win Conditions</h3>
		<p *ngFor='let cond of winConditions[localPlayer.role]'>{{ cond }}</p>
	</div>
	<div>
		<h3>Abilities</h3>
	</div>
	<div class="container">
		<h3>Starting in {{ secondsLeft }} seconds...</h3>
	</div>
</div>
