@import '~src/styles.scss';

.container {
	.player-container {
		border-bottom: 1px solid $color-ttt-light;
		margin: 0 auto 0.5em auto;

		a {
			text-decoration: none;
		}

		.title {
			padding: 0.8em 0 0.8em 0;
			margin: 0 0 0 1em;
		}
	}
}
