.search {
	margin-bottom: 1em;

	input {
		margin-right: 1em;
	}
}

.container {

	.player-container {
		border: 2px solid lightgray;
		margin: 0 auto 0.5em auto;

		a {
			text-decoration: none;
		}

		.title {
			padding: 0.8em 0 0.8em 0;
			margin: 0 0 0 1em;
		}
	}
}
