<div class="container">
	<h1 class="title">Lobbies</h1>
</div>

<div class="container">
	<div class="lobby-tile" *ngFor="let lobby of lobbies">
		<div class="info">
			<p class="title">{{ lobby.name }}</p>
			<p class="owner">by <app-player-name [player]='lobby.owner'></app-player-name></p>
			<p class="players">{{ lobby.player_count }} player(s)</p>
		</div>
		<a href="#" class="view" routerLink="/game/{{ lobby.id }}">
			<p>View</p>
		</a>
	</div>
	<div *ngIf="lobbies.length === 0 && !user.hasPermission('createLobby')">
		<p>Waiting for an admin to start a lobby.</p>
	</div>
</div>

<div class="container" *ngIf="user.hasPermission('createLobby')">
	<h3 class="title">Create Lobby</h3>
	<input placeholder='Game name' type="text" [(ngModel)]="newLobbyName"><br>
	<p class="error" *ngIf="createLobbyError === ''">{{ createLobbyError }}</p>
	<a class="button" (click)='createNewLobby()'>Create</a>
</div>
