/* You can add global styles to this file, and also import other style files */

html, body {
	height: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

p.error {
	margin: 0;
	color: red;
}


/* Forms such as login and password reset */
.form-group {
	margin-bottom: 1em;

	input {
		width: 100%;
		box-sizing: border-box;
	}
}

.form-submit {
	width: 100%;
}
